*{
    box-sizing: border-box;
}

body{
    font-family: 'Asap Condensed', sans-serif;
    background:linear-gradient(rgba(11, 81, 114, 0.7), rgba(8, 8, 148, 0.7), rgba(36, 12, 195, 0.7)), url(fundo.jpg);
    background-size: cover;
    height: 1670px;
    color: white;
    z-index: 1;
}

#title{
    text-align: center;
    font-size: 30px;
}

#description{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

#survey-form{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 40%;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
    font-size: 20px;
    line-height: 30px;
}

#textarea{
    width: 100%;
    height: 70px;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1px 0;
}

.control select{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1px 0;
}

.espaco{
    margin-bottom: 30px;
}

button {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(79, 122, 65);
    border: none;
    width: 100%;
    margin: 10px 0;
}
 
button:hover {
    background-color: rgb(57, 112, 39)
}
  
button:active {
    background-color:rgb(35, 102, 13);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#footer{
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
}
#footer a{
    text-decoration: none;
    color: white;
    }
    
#footer a:hover{
    text-decoration: none;
    color: rgb(52, 133, 25);
    }

/*Responsivo*/
@media (max-width: 1024px){
   #survey-form{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 40%;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
    font-size: 20px;
    line-height: 30px;
   }

   #textarea{
    width: 100%;
    height: 70px;
    }

    #footer{
        position: absolute;
        top: 189%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        border-radius: 10px;
        box-shadow: 7px 7px 60px #000;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        text-decoration: none;
    }
}

@media (max-width: 425px){
    body{
        height: 1675px;
    }

    #survey-form{
     position: absolute;
     top: 180%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
     width: 100%;
     padding: 50px 30px;
     border-radius: 10px;
     box-shadow: 7px 7px 60px #000;
     font-size: 20px;
     line-height: 30px;
    }
 
    #textarea{
     width: 100%;
     height: 70px;
    }

    #footer{
        position: absolute;
        top: 250%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        border-radius: 10px;
        box-shadow: 7px 7px 60px #000;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        text-decoration: none;
    }
 }
 