*{
    box-sizing: border-box;
}

body{
    font-family: 'Asap Condensed', sans-serif;
    background:linear-gradient(rgba(13, 11, 114, 0.7), rgba(8, 8, 148, 0.7), rgba(36, 12, 195, 0.7)), url(fundo.jpg);
    background-size: cover;
    height: 940px;
    color: white;
    z-index: 1;
}

#title{
    text-align: center;
    font-size: 30px;
}

#description{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

#survey-form{
    background: transparent;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
